.broj {
    font-size: 40px;
    color: white;
    width: 70px;
    height: 70px;
    margin: 20px;
    border: 3px solid black;
    border-radius: 50%;
    background: radial-gradient(circle at 30px 30px, #5cabff, black);

}

h2 {
    text-align: center;
}

#izvuceni {
    font-size: 50px;
    display: none;
    background-color: #d1e0e0;
}
    
input {
    width: 80px;
    font-size:20px;
    margin-right: 10px;
}


#ulog {
    width: 200px;
}

#pogodci {
    display: none;
}

.zeleno {
    background: green
}

.red {
    background: red;
}

#container  {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
     background-color: #d1e0e0 !important; 
    padding: 10px;
    display: none;
}

button {
    max-width: 15%;
}

#container2 {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); 
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.brojeviContainer {
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea)!important; 
    -webkit-box-shadow: 0px 0px 15px 5px black;
    -moz-box-shadow: 0px 0px 15px 5px black;
    box-shadow: 0px 0px 15px 5px black !important; 
    width: 70% !important;
}

#errorText {
    color: red;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

@media only screen and (max-width: 640px) {
    #container {
        max-width: 100%;
        grid-template-columns: auto auto auto ;
    }
    #container2 {
        max-width: 100%;
    }
    .panel {
        max-width: 95%;
    }
}