body {
    font-size: 1.2em;
    background: url('../images/Pozadina.jpg') no-repeat center center fixed;
    background-size: cover;
}

#container {
    max-width: 70%;
    margin: 30px auto;
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    background: #03487c;
    opacity: 0.95;
}

.panel {
    max-width: 75%;
    margin: 20px auto;
    border-radius: 15px;
    padding: 15px;
    background: #eee;
}

button {
    background: #862d59;
    height: 3em;
    width: 70%;
    margin-bottom: 1.5em;
    border-radius: 15px;
    color: white;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

input {
    border-radius: 15px;
    width: 60%;
    text-align: center;
    height: 3.7em;
    margin-top: 8px;
    margin-bottom: 10px;
    outline: none;
}

.activeButton {
    background-color: #47d147;
}

@media only screen and (max-width: 800px) {
    #container {
        max-width: 99%;
    }
    .panel {
        max-width: 97%;
    }
    header {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    ul {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#errorMsg {
    color: red;
}

/* verzija 2 */

@media only screen and (min-width: 801px) and (max-width: 1120px) {
    #container {
        max-width: 89%;
    }
    .panel {
        max-width: 87%;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1.3rem;
    }
}